/aulas/Aula03/nbproject/private/
/aulas/Aula03/build/
/aulas/Aula04/nbproject/private/
/aulas/Aula04/build/
/teste/nbproject/private/
/teste/build/
/Aula05/nbproject/private/
/Aula05/build/
/Teste/nbproject/private/
/Teste/build/
/Aula06/nbproject/private/
/Aula06/build/
/Exercicio04/nbproject/private/
/Exercicio04/build/
/Aula08/nbproject/private/
/aulas/Aula08/nbproject/private/
/aulas/Aula08/build/
/aulas/Exercicio05/nbproject/private/
/Exercicio05/nbproject/private/
/Exercicio05/build/
/aulas/Aula09/nbproject/private/
/aulas/Aula09/build/
/aulas/Ex01/nbproject/private/
/aulas/Aula10Rev/nbproject/private/
/aulas/Aula10Rev/build/
/aulas/Aula10Rev_tarde/nbproject/private/
/aulas/Aula10Rev_noite/nbproject/private/
/aulas/Aula10Rev_noite/build/
/aulas/DesafioArrays/nbproject/private/
/aulas/Aula10Rev_tarde/build/
/aulas/DesafioArrays/build/
/Aulas/Aula09Tarde/build/
/Aulas/Aula09Tarde/nbproject/private/